In [4]:
import pandas as pd

In [5]:
pd.__version__ # To print the installed vesion pandas

'1.5.2'

# Series Data Structure

In [6]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [7]:
obj[0]

1

In [8]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [9]:
obj2["b"]

'John'

In [10]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [12]:
names["Tim"]

95

In [13]:
names[names>=85]

Jane    90
Elon    85
Tim     95
dtype: int64

In [14]:
names["Tom"]=60
names

Jane    90
Bill    80
Elon    85
Tom     60
Tim     95
dtype: int64

In [15]:
names/10

Jane    9.0
Bill    8.0
Elon    8.5
Tom     6.0
Tim     9.5
dtype: float64

In [16]:
"Tom" in names

True